{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_links %} 
{% block title %} Log In  {%endblock %}
{% endblock %}

{% block head_title %}{% trans "Sign In" %} {% endblock %}

{% block content %}
<div style="max-width:500px; margin:0 auto; margin-top:90px; background:linear-gradient(45deg, #49c5b6, #ab9ae5); padding:3px;">
  <div class="container">
    
<h3 class="h3" id="head_banner">{% trans "Sign In" %}</h3>

  <form class="signup" id="login_form" method="post" action="{% url 'account_login' %}">

    {% csrf_token %}
    {{form|crispy}}    
    {% if redirect_field_value %}
    <input type="hidden" name="{{redirect_field_name }}" value="{{redirect_field_value }}"/>
    {% endif %}
    
    <div class="form-group">
    <button type="submit" class="btn btn-success">{% trans "Sign In" %}</button>
    </div>

  </form>
</div>
{% endblock %}




