{% extends "account/base.html" %}

{% load i18n %}
{% block title %} Log Out {%endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}


{% block content %}
<div style="width:400px; margin:0 auto; margin-top:170px;  background:linear-gradient(45deg, #49c5b6, #ab9ae5); padding:3px;">

    <div class="container text-center">

        <h3 class="h3" id="head_banner">{% trans "Sign Out" %}</h3>

        <p class="confirm_logout_info">{% trans 'Are you sure you want to sign out?' %}</p>

        <form class="signup" id="logout_form" method="post" action="{% url 'account_logout' %}">

          {% csrf_token %}
            {% include 'account/snippets/bs4_form.html' with form=form %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name }}" value="{{redirect_field_value }}"/>
          {% endif %}
          
          <div class="form-group ">
            <button  class="btn btn-outline-success" type="submit">{% trans 'Yes' %}</button>
            <a class="btn btn-outline-danger" id="custom_logout_no" href="/home">{% trans 'No' %}</a>  </div>

        </form>

    </div>
  </div>

{% endblock %}
