{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% block title %} Sign Up {%endblock %} 

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div style="max-width:600px; margin:0 auto; margin-top:90px; background:linear-gradient(45deg, #49c5b6, #ab9ae5); padding:3px;">
  <div class="container">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
      {% include 'account/snippets/bs4_form.html' with form=form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{redirect_field_name }}" value="{{redirect_field_value }}"/>
    {% endif %}

  
    <div class="form-group">
    <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
  
    </div>
  </form>
  </div
</div>

{% endblock %}