{% extends "usermanagement/base-executive.html" %} 
{% block title %} Receptionist {% endblock %} 
{% block dashbord %}                                             
                <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-account-o"></i><span>Patients</span> </a>
                    <ul class="ml-menu">
                        <li><a href="{% url 'usermanagement:receptionist' %}">Add Patient</a></li>   
                        <li><a href="{% url 'usermanagement:all_patients' role='Receptionist' %}">All Patients</a></li>                    
                    </ul>
                </li>
                <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-calendar-check"></i><span>Consultations</span> </a>
                    <ul class="ml-menu">
                        <li><a href="{% url 'usermanagement:add_consultation' %}">Add Consultation</a></li>   
                        <li><a href="{% url 'usermanagement:consultation_queue' 'Receptionist' %}">Consultation Queue</a></li>                    
                    </ul>
                </li>
                <li><a href="{% url 'usermanagement:payment' %}"><i class="zmdi zmdi-balance-wallet"></i><span>Payment</span> </a>
                </li>
{% endblock %}
{% block body %}

{% endblock %}