{% extends "usermanagement/base-executive.html" %} 
{% block title %} Nurse{% endblock %} 
{% block dashbord %}                                         
                <li><a href="{% url 'usermanagement:nurse' %}"><i class="zmdi zmdi-account-o"></i><span>Take Patient Vitals</span> </a> </li>
                <li><a href="{% url 'usermanagement:all_patients' role='Nurse' %}"><i class="zmdi zmdi-account-o"></i><span>All Patients</span> </a> </li>                                    
{% endblock %}
{% block body %}

{% endblock %}