{% extends "usermanagement/base-executive.html" %} 
{% block title %} Patient {% endblock %} 
{% block dashbord %}
<!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active open"><a href="{% url 'usermanagement:home' %}"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>                                                                   
                </li>
                <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-balance-wallet"></i><span>Payments</span> </a>
                    <ul class="ml-menu">
                        <li> <a href="#">options</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
{% endblock %}
{% block body %}

{% endblock %}