{% extends "usermanagement/base-executive.html" %} 
{% block title %} Patient {% endblock %} 
{% block dashbord %}
<!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active open"><a href="#"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>                                                                   
                </li>

            </ul>
        </div>
        <!-- #Menu -->
{% endblock %}
{% block body %}

{% endblock %}