{% extends "usermanagement/base-receptionist.html" %} 
{% block title %} Consultations {% endblock %} 

{% block body %}
<section class="content">
    <div class="container-fluid">
        {% if messages %}
        <div> 
            <ul>
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            {% endfor %}
            </ul>
        </div>
         {% endif %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> Consultation Queue <small>New patient consultation queue</small> </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu float-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Patient Name </th>
                                    <th> Doctor Name </th>
                                    <th> Status </th>
                                    <th> Date created </th>
                                    <th>  </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for consultation in consultations %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <th> <a  href="{% url 'usermanagement:patient_profile' role=active_role patient_name=consultation.patient.user.username %}">  <span style="color:black;"> {{ consultation.patient}} </span> </a> </th>
                                    <td>{{ consultation.doctor}}</td>
                                    <td>
                                        {% if consultation.status == 'On Hold' %}<span class="label label-danger">{% endif %} 
                                        {% if consultation.status == 'Pending' %}<span class="label label-info">{% endif %}
                                        {{ consultation.status}}</span> </td>
                                    <td>{{ consultation.created}}</td>
                                    {% if consultation.status == 'Pending'%}
                                    <td><a href="{% url 'usermanagement:consultation_delete' consultation.id %}"><button class="btn btn-sm btn-danger"> Delete </button></a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}