{% load static %}
<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2>{{patient.user.username}}'s Profile</h2>
            <small class="text-muted">Polyclinic Fultang</small>
        </div>        
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class=" card patient-profile">
                    {% if patient.user.profile_pic %}
                        <img src="{{patient.user.profile_pic.url}}" class="img-fluid" alt=""> 
                    {% else %}    
                        <img src="{% static 'usermanagement/images/image-1.jpg' %}" class="img-fluid" alt="">                               
                    {% endif %}
                </div>
                <div class="card">
                    <div class="header">
                        <h2>About Patient</h2>
                    </div>
                    <div class="body">
                        <strong>Name</strong>
                        <p>{{patient.user.first_name}} {{patient.user.last_name}}</p>
                        <strong>Occupation</strong>
                        <p>{{patient.user.profession}}</p>
                        <strong>Email ID</strong>
                        <p>{{patient.user.email}}</p>
                        <strong>Phone</strong>
                        <p>{{patient.user.tel}}</p>
                        <hr>
                        <strong>Address</strong>
                        <address>{{patient.user.address}}</address>
                        <strong>Admitted</strong>
                        {% if patient.admitted == False %}
                           <p> No </p>
                        {% else %}
                            <p> Yes </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body"> 
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active"data-toggle="tab"  href="#report">Report Page</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#consultations">Consultations</a></li>

                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active" id="report">                               
                            <div class="wrap-reset">
                                <div class="mypost-list">
                                    <div class="post-box">
                                        <h4>Latest Vital signs</h4>    
                                        {% if vitals %}                                    
                                        <div class="body p-l-0 p-r-0">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div>Temperature</div>
                                                    <p> {{ vitals.temperature }}</p>
                                                </div>
                                                <div class="col-4">
                                                    <div> Pulse </div>
                                                    <p> {{ vitals.pulse }}</p>
                                                </div>
                                                <div class="col-4">
                                                    <div> Respiration Rate </div>
                                                    <p> {{ vitals.respiration_rate }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div>Oxygen Saturation</div>
                                                    <p> {{ vitals.oxygen_saturation }}</p>
                                                </div>
                                                <div class="col-4">
                                                    <div> Blood Pressure</div>
                                                    <p> {{ vitals.blood_pressure }}</p>
                                                </div>
                                                <div class="col-4">
                                                    <div> Weight</div>
                                                    <p> {{ vitals.weight }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p>
                                            Consult a Nurse to take your vitals
                                        </p>
                                        {% endif %}
                                    </div>
                                    <hr>
                         {% if consultation %}
                                    <div class="post-box">
                                        <h4> Consultation Status: {{consultation.status}} </h4>
                                    </div> 
                                        <hr>
                                        <ul class="dis">
                                            <button class="btn btn-primary custom-btn-width" onClick="showTextarea('obs','obs-btn','Add Observation')" id="obs-btn"> Observations </button>
                                            <form style="display: none;" id="obs" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                {% csrf_token %}
                                                <textarea required rows="8" cols="80" name="observations" placeholder="Observations...">{{observations}}</textarea>
                                                <br>
                                                <button type="submit" class="btn btn-sm btn-success" onClick="hideTextarea('obs','obs-btn','Observations')"> Submit </button>
                                            </form>
                                        </ul>
                                        <hr>
                                        <ul class="dis">
                                            <button class="btn btn-primary custom-btn-width" onClick="showTextarea('ref','ref-btn','Add Reference')" id="ref-btn"> References </button>
                                            <form style="display: none;" id="ref" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                {% csrf_token %}
                                                <textarea required rows="8" cols="80" name="references" placeholder="References...">{{references}}</textarea>
                                                <br>
                                                <button type="submit" class="btn btn-sm btn-success" onClick="hideTextarea('ref','ref-btn','References')"> Submit </button>
                                            </form>
                                        </ul>
                                        <hr>
                                        <ul class="dis">
                                            <button class="btn btn-primary custom-btn-width" onClick="showTextarea('med','med-btn','Prescribe Medication')" id="med-btn">Prescribe Medication </button>
                                            <form style="display: none;" id="med" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                {% csrf_token %}
                                                <textarea required rows="8" cols="80" name="prescriptions" placeholder="Medications...">{{prescriptions}}</textarea>
                                                <br>
                                                <button type="submit" class="btn btn-sm btn-success" onClick="hideTextarea('med','med-btn','Prescribe Medication')"> Submit </button>
                                            </form>
                                        </ul>
                                        <hr>
                                        <ul class="dis">
                                            <button class="btn btn-primary custom-btn-width" onClick="showTextarea('lab','lab-btn','Laboratory Tests')" id="lab-btn">Laboratory Tests </button>
                                            <form style="display: none;" id="lab" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                {% csrf_token %}
                                                <textarea required rows="8" cols="80" name="lab_tests" placeholder="Lab Tests...">{{lab_tests}}</textarea>
                                                <br>
                                                <button type="submit" class="btn btn-sm btn-success" onClick="hideTextarea('lab','lab-btn','Laboratory Tests')"> Submit </button>
                                            </form>
                                        </ul>
                                        
                                        {% if patient.admitted == False %}
                                        <hr>
                                        <ul class="dis">
                                            <p> Admit Patient </p>
                                            <form id="adm" class="form-check form-check-inline" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                {% csrf_token %}
                                                <input required type="radio" id="radio1" name="admit" value="Yes">
                                                <label for="radio1"> Yes </label><br>
                                                <input type="radio" id="radio2" name="admit" value="No">
                                                <label for="radio2"> No </label><br>
                                                <button type="submit" class="btn btn-sm btn-success ml-3" > Submit </button>
                                            </form>
                                        </ul>
                                        {% endif %}
                                        <hr>
                                        <ul class="dis">
                                            <div class="row">
                                                <div class="col-6">
                                                    <form id="adm" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="complete_consultation" value="Done">
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-sm btn-secondary" > Complete Consultation </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-6">
                                                    <form id="adm" method='post' action="{% url 'usermanagement:doctor_report' conId %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="hold_consultation" value="Hold">
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-sm btn-danger ml-4" > Hold Consultation </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </ul>
                        {% endif %}
                                </div>
                            </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="consultations">
                                <div class="body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                
                                                <th> Doctor Name </th>
                                                <th> Status </th>
                                                <th> Date created</th>
                                                <th>  </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for consultation in consultations %}
                                            <tr>
                                                
                                                <td>{{ consultation.doctor}}</td>
                                                <td>{{ consultation.status}}</td>
                                                <td>{{ consultation.created}}</td>
                                                <td><a href="{% url 'usermanagement:consultation_info' consultation.id %}"><button class="btn btn-primary"> Info </button></a></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
function showTextarea(formid,buttonid,text) {
    if( document.getElementById(formid).style.display == 'none' ) {
        document.getElementById(formid).style.display = 'block';
        document.getElementById(buttonid).innerHTML = 'Close'
    }else{
        document.getElementById(formid).style.display = 'none';
        document.getElementById(buttonid).innerHTML = text
    }
    
}
function hideTextarea(formid,buttonid,text) {
    document.getElementById(formid).style.display = 'none';
    document.getElementById(buttonid).innerHTML = text
}
</script>