{% extends "usermanagement/base-receptionist.html" %} 
{% block title %} Reception {% endblock %} 

{% block body %}
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Add Patient</h2>
      <small class="text-muted">Polyclinic Fultang</small>
    </div>
    {% if messages %}
            <div>
                <ul>
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Register Patient <small>Patient Registration Form...</small></h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a
                  href="javascript:void(0);"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><i class="zmdi zmdi-more-vert"></i
                ></a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a
                      href="javascript:void(0);"
                      class="waves-effect waves-block"
                      >Action</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      class="waves-effect waves-block"
                      >Another action</a
                    >
                  </li>
                  <li>
                    <a
                      href="javascript:void(0);"
                      class="waves-effect waves-block"
                      >Something else here</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <form method="post" action="{% url 'usermanagement:receptionist' %}">
          {% csrf_token %}
          <div class="body">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" placeholder="Search User..." id="userInput" onkeyup="Func()"/>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group drop-custum" id="Dropdown">
                    <select class="form-control show-tick" name="selected_user" required>
                        <option value="">-- Username --</option>
                        {% for user in all_users %}
                        <option value="{{user}}"> {{user}} </option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      name = 'first_name'
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      name = 'last_name'
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone No."
                      name = 'tel'
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input
                      type="text"
                      class="datepicker form-control"
                      placeholder="Date of Birth"
                      name = 'date_of_birth'
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                <div class="form-line">
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Place of Birth"
                    name = 'place_of_birth'
                    required
                    />
                </div>
                </div>
            </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group drop-custum">
                  <select class="form-control show-tick" name="gender" required>
                    <option value="">-- Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input
                      type="text"
                      class="datepicker form-control"
                      placeholder="Address"
                      name = 'address'
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                    <div class="form-line">
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Person to contact"
                        name = 'person_to_contact'
                        required
                        />
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                    <div class="form-line">
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Phone No."
                        name = 'phone_no'
                        required
                        />
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="form-group">
                    <div class="form-line">
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Profession"
                        name = 'profession'
                        />
                    </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <form
                  action="https://thememakker.com/"
                  id="frmFileUpload"
                  class="dropzone"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="dz-message">
                    <div class="drag-icon-cph">
                      <i class="material-icons">touch_app</i>
                    </div>
                    <h3>Drop files here or click to upload.</h3>
                    <em
                      >(This is just a demo dropzone. Selected files are
                      <strong>not</strong> actually uploaded.)</em
                    >
                  </div>
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
                </form>
              </div>
            </div> {% endcomment %}
            <div class="row clearfix">
              {% comment %} <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <textarea
                      rows="4"
                      class="form-control no-resize"
                      placeholder="Description"
                    ></textarea>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="">
                <button type="submit" class="btn btn-raised g-bg-cyan">
                  Submit
                </button>
                <button type="submit" class="btn btn-raised">Cancel</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
function Func() {
  var input, filter, a;

  // take user input
  input = document.getElementById("userInput");
  
  // convert the input to upper case letter for easy comparison
  filter = input.value.toUpperCase();

  div = document.getElementById("Dropdown");

  // get all the options as a list
  a = div.getElementsByTagName("option");

  // iterate through the entire list and output relevant results if found
  for (var i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

{% endblock %}
