<!-- Roles -->
            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-menu">Work As</i></a>
                <ul class="dropdown-menu">
                    <li class="header">Choose Role</li>
                    <li class="body">
                        <ul class="menu tasks">
                        {% if 'Patient' in roles %}
                            <li>
                                <a href="{% url 'usermanagement:patient_profile' role='Patient' patient_name=user.username %}">
                                    <h4>Patient </h4>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'Doctor' in roles %}
                            <li>
                                <a href="{% url 'usermanagement:doctor' %}">
                                    <h4>Doctor</h4>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'Receptionist' in roles %}
                            <li>
                                <a href="{% url 'usermanagement:receptionist_home' %}">
                                    <h4>Receptionist</h4>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'Nurse' in roles%}
                            <li>
                                <a href="{% url 'usermanagement:nurse_home' %}">
                                    <h4>Nurse</h4>
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li>
                                <a href="{% url 'usermanagement:administrator' %}">
                                    <h4>Admin</h4>
                                </a>
                            </li>
                        {% endif %}
                        </ul>
                </ul>
            </li>
            <!-- #END# Roles -->